body {
    margin: 0;
    padding: 0;
    font-family: 'Copse', serif;
}

.maintext {
    text-align: center;
    margin-bottom: 5%;
}

.navbar { 
    margin-bottom: 10%;
}

.user {
    width: 5%; 
}

.home {
    width: 5%;
    position: absolute;
    right: 0; 
}

.logo {
    text-align: center;
    margin-bottom: 10%;
}

 .mainlogo {
    width: 95%; 
}

.circle {
    text-align: center;
    margin-bottom: 5%;
}
.circleR  {
    width: 25%; 
}


/* Slider */

 .landingslickIMG {
    height: 125px;
     width: 95%;
 }

 .landingslickIMG2 {
    height: 125px;
    width: 100%;
 }

